
.searchSection{
  position: relative;
  border: 3px solid rgb(19, 17, 17);
}

.background{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.searchbar{
  position: absolute;
  top:30%;
  width: 100%;
  display: flex;
  padding: 25px 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search{
  height: 35px;
  width: 240px;
  display: flex;
  background: #222222;
  border: none;
  border-radius: 5px;
  margin: 0 12px;
  
}

.search input{
  height: 100%;
  width: 200px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  
}

.btn{
height: 100%;
width: 40px;
border-radius: 0 5px 5px 0;
border: 1px solid #cccccc;
margin: 0;
background-color: #222222; 
cursor: pointer; 
padding: 0;
}




